.container
	{
	background-color:white;
	}
	
header
	{
	height:150px;
	}
			
h5
	{
	margin-top: 40px;
	}	
	
html, body 
	{
  	height: 100%;
	}

body 
	{ 
  	margin:0;padding:0;background: url('../img/fond.jpg') repeat fixed;-webkit-background-size: cover;background-size: cover;
	}